<?xml version="1.0"?>
<robot name="dh_ag95_gripper" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- parameters -->
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="com_port" default="/dev/ttyUSB0"/>
    <xacro:arg name="use_mock_hardware" default="false"/>
    <xacro:arg name="mock_sensor_commands" default="false"/>

    <!-- import main macro -->
    <xacro:include filename="$(find dh_ag95_description)/urdf/dh_ag95_macro.xacro" />
    <xacro:include filename="$(find dh_gripper_driver)/urdf/dh_ag95.ros2_control.xacro" />

    <!-- gripper -->
    <xacro:dh_ag95_gripper
        prefix=""
        parent="world">
        <origin xyz="0 0 0.1" rpy="0 0 0" />
    </xacro:dh_ag95_gripper>

    <!-- ros2_control -->
    <xacro:dh_ag95_gripper_ros2_control
        name="dh_ag95_gripper"
        prefix="$(arg prefix)"
        com_port="$(arg com_port)"
        use_mock_hardware="$(arg use_mock_hardware)"
        mock_sensor_commands="$(arg mock_sensor_commands)"
    />

    <link name="world" />

</robot>